body {
    margin: 1%;
}

.search-box {
    width: 88%;
}

.results-box {
    min-height: 900px;
}

.total-text {
    font-size: 20px;
}

.navigation-number {
    font-size: 20px;
    min-width: 50px;
}

.game-results {
    padding-left: 1%;
    padding-top: 80px;
}

.game-row {
    height: 170px;
}

.game-data {
    margin-left: 100px;
}

.game-image {
    height: 45px;
    width: 80px;
}
